
<!-- "Join Team" (Post) Form -->

<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center"> Sign up <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name ="addForm" novalidate>

                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="username">Username <span class="badge">All fields required</span></label>
                    <input type="text" class="form-control" id="username" placeholder="i<3food" ng-model="formData.username" required>
                </div>
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="text" class="form-control" id="email" placeholder="myemail@me.com" ng-model="formData.email" required>
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="text" class="form-control" id="password" placeholder="********" ng-model="formData.password" required>
                </div>
                <div class="form-group">
                    <!-- Note RefreshLoc button tied to addCtrl. This requests a refresh of the HTML5 verified location. -->
                    <label for="verified">Verified Location? <span><button ng-click="refreshLoc()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                    <input type="text" class="form-control" id="verified" placeholder= "Where are you?" ng-model="formData.htmlverified" readonly>
                </div>
                <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Submit</button>
                <br>
                <div class="panel-heading">
                <h2 class="panel-title text-center">Already signed up? Log in <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <br>
                <div class="form-group">
                    <label for="username">Username <span class="badge">All fields required</span></label>
                    <input type="text" class="form-control" id="username" placeholder="i<3food" ng-model="formData.username" required>
                </div>
                <div class="form-group">
                    <label for="language">email</label>
                    <input type="text" class="form-control" id="email" placeholder="myemail@me.com" ng-model="formData.email" required>
                    <label for="username"> Market Name <span class="badge">All fields required</span></label>
                    <input type="text" class="form-control" id="username" placeholder="Market of Deliciousness" ng-model="formData.username" required>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="123 Food Street" ng-model="formData.address" required>
                </div>
                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Submit</button>
        </div>
    </div>
</div>

